<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] InterviewQAWebsite</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.css" />
        <link rel="stylesheet" href="~/font-awesome/css/fontawesome.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <link href="~/lib/summernote/summernote.css" rel="stylesheet" />
    <link href="~/lib/summernote/summernote-bs4.css" rel="stylesheet" />
    <link href="~/lib/summernote/summernote-lite.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-xl navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3 fixed-top">
            <div class="container">
                <a class="navbar-brand mx-auto pr-5" asp-area="" asp-page="/Index"><img src="~/images/logo.svg" alt="Alternate Text" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-lf-inline-flex flex-lg-row-reverse mx-auto">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav mx-auto ">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index"><div class="menu">HTML</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Css"><div class="menu">CSS</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Javascript"><div class="menu">JAVASCRIPT</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Csharp"><div class="menu">C#</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AspNet"><div class="menu">ASP.NET</div></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AspNetCore"><div class="menu">ASP.NET CORE</div></a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container wrapper">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer " style="z-index:100">
        <ul class="list-inline text-center">

            <li class="list-inline-item">
                <a asp-page="/Index" ><img src="~/images/html.svg" alt="Alternate Text" /></a>
            </li>

            <li class="list-inline-item">
                <a asp-page="/Css" ><img src="~/images/css.svg" alt="Alternate Text" /></a>
            </li>

            <li class="list-inline-item">
                <a asp-page="Javascript" ><img src="~/images/javascript.svg" alt="Alternate Text" /></a>
            </li>

            <li class="list-inline-item">
                <a asp-page="/Csharp" ><img src="~/images/c-sharp.svg" alt="Alternate Text" /></a>
            </li>
            
            <li class="list-inline-item">
                <a asp-page="/AspNet" ><img src="~/images/ASP.Net.svg" alt="Alternate Text" /></a>
            </li>
            
            <li class="list-inline-item">
                <a asp-page="/AspNetCore" ><img src="~/images/ASP.NET-Core.svg" alt="Alternate Text" /></a>
            </li>

        </ul>
    </footer>



        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>
        </environment>

        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

        <script src="~/lib/jqueryui/jquery-ui.js" asp-append-version="true"></script>
        <script src="~/font-awesome/js/fontawesome.js" asp-append-version="true"></script>

        <script src="~/lib/summernote/summernote.js"></script>
        <script src="~/lib/summernote/summernote-bs4.js"></script>
        <script src="~/lib/summernote/summernote-lite.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
